@page "/aboutme"

<PageTitle>About Me</PageTitle>

<h1>My name is Jonah Ringdahl</h1>
<p>I am a C# developer that has a broad encompassing interest of topics such as:</p>
<ul>
    <li>Web Assembly</li>
    <li>Unity Game Engine</li>
    <li>Low Level embedded Systems</li>
    <li>Machine Learning</li>
</ul>
<p>I also have used the language C and I am currently learning the language Rust.</p>