@page "/calculator"

<h1>Calculator Application</h1>

<input type="text" name="calculatorInput" class="input-group-text mb-4 mt-4">

<div class="form-check">
     <div class="m-2" >
          <button name="button1" class="btn btn-sm">
               1
          </button>
          <button name="button2" class="btn btn-sm">
               2
          </button>
          <button name="button3" class="btn btn-sm">
               3
          </button>
          <button name="buttonPlus" class="btn btn-sm">
               +
          </button>
     </div>
     <div class="m-2">
          <button name="button4" class="btn btn-sm">
               4
          </button>
          <button name="button5" class="btn btn-sm">
               5
          </button>
          <button name="button6" class="btn btn-sm">
               6
          </button>
          <button name="buttonMinus" class="btn btn-sm">
               -
          </button>
     </div>
     <div class="m-2">
          <button name="button7" class="btn btn-sm">
               7
          </button>
          <button name="button8" class="btn btn-sm">
               8
          </button>
          <button name="button9" class="btn btn-sm">
               9
          </button>
          <button name="buttonMult" class="btn btn-sm">
               *
          </button>
     </div>
     <div class="m-2 align-content-center">
          
          <span class="btn btn-sm"></span>
          <button name="button0" class="btn btn-sm">
               0
          </button>
          <span class="btn btn-sm"></span>
          <button name="buttonDivi" class="btn btn-sm">
               /
          </button>
     </div>
     <button name="buttonSubmit" class="btn btn-sm">
          Submit
     </button>
</div>