@page "/passwordgenerator"
<h3>PasswordGenerator</h3>

<input type="text" @bind-value="seedValue" />

<button name="genPass" onclick="InitiatePassword"/>

@code {
    string seedValue = null;

    void InitiatePassword()
    {
        int result;
        var success = int.TryParse(seedValue, out result);

        if (seedValue != null && success)
        {   
            var rng = new Random(result);

            GeneratePassword(rng);
        }

        var random = new Random();
        GeneratePassword(random);
    }

    void GeneratePassword(Random random)
    {
        
    }

}